
.debug_msg {
	display: block;
}

.debug {
	background-color: powderblue;
	width: 100%;
    height: 100px;
}

.debugHeader {
	background-color: #171a1b;
	color: white;
	width: 100%;
}

.info_msg {
	display: block;
}